@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.modal {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 70vw;
}

.addNewEmployee {
  @include flexbox(center, flex-start);
}